# Virtual environments
.venv

# Pycache
__pycache__
.pytest_cache

# Pytest
.coverage
coverage.lcov
htmlcov

# Environment
.env

# Instance
instance

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
